# Terraform specific files.
**/.terraform/**
**/terraform.tfstate
**/terraform.tfstate.backup
**/secrets.auto.tfvars
**/.terraform.tfstate.lock.info

# Configuration.
**kube.config
**.temp.yaml
**.secret.yaml